<nav class="navbar is-custom-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <% if(user){ %>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">
                        <i class="fa fa-user" style="margin-right:10px"></i> Welcome
                        <%= user.username %>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Profile
                        </a>
                        <a class="navbar-item">
                            Account Settings
                        </a>

                    </div>
                </div>

                <a class="navbar-item" href="logout">
                    Log Out
                </a>
            </div>

            <% } else { %>
            <div class="navbar-end">

                <a class="navbar-item" href="/register">
                    Sign up
                </a>
                <a class="navbar-item" href="/login">
                    Log in
                </a>
            </div>

            <% } %>

        </div>
    </div>
    </div>
    </div>
</nav>