<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is the basic home page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('partials/navbar.ejs') -%>

    <div id="wrapper">
        <section id="full-height">


            <h1>
                Home Page of Somthing Nice
            </h1>



        </section>
    </div>
</body>

</html>