<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is the basic home page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <nav class="navbar is-custom-primary" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">

                    <a class="navbar-item" href="/register">
                        Sign up
                    </a>
                    <a class="navbar-item">
                        Log in
                    </a>
                </div>
            </div>
        </div>
        </div>
        </div>
    </nav>


    <div id="wrapper">
        <section id="full-height">


            <div id="loginForm">
                <div class="card">

                    <div class="card-content">


                        <div class="content">
                            <p>Login to Proceed</p>
                            <form action="/login" method="POST">
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="email" placeholder="Email" name="email">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>

                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" placeholder="Password" name="password">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <button class="button is-info is-rounded is-outlined">
                                            Lets go there
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </section>
    </div>

</body>

</html>