@import 'bulma.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Thasadith');

body,
html {
    font-family: Montserrat,
        'Times New Roman',
        Times,
        serif
}

#full-height {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2em;

}

.is-custom-primary {
    background: #eee;
}